[Desktop Entry]
Name[bs]=Grupni pisač
Name[ca]=MultiWriter
Name[cs]=MultiWriter
Name[da]=Multiskriver
Name[de]=MultiWriter
Name[el]=MultiWriter
Name[en_GB]=MultiWriter
Name[es]=MultiWriter
Name[fa]=MultiWriter
Name[fi]=MultiWriter
Name[fr]=MultiWriter
Name[fur]=MultiWriter
Name[gl]=MultiEscritor
Name[he]=רב כותב
Name[hr]=Višestruki zapisivač
Name[hu]=MultiWriter
Name[id]=MultiWriter
Name[it]=MultiWriter
Name[ja]=マルチライター
Name[nb]=Multiskriver
Name[nl]=MultiWriter
Name[oc]=MultiWriter
Name[pl]=MultiWriter
Name[pt_BR]=MultiWriter
Name[pt]=MultiWriter
Name[ru]=MultiWriter
Name[sk]=MultiWriter
Name[sr@latin]=Grupni pisač
Name[sr]=Групни писач
Name[sv]=MultiWriter
Name[tr]=MultiWriter
Name[uk]=MultiWriter
Name[zh_CN]=MultiWriter
Name[zh_TW]=MultiWriter
Name=MultiWriter
Comment[bs]=Zapišite ISO datoteku na nekoliko USB uređaja odjednom
Comment[ca]=Escriu un arxiu ISO a diversos dispositius USB a la vegada
Comment[cs]=Zapisujte soubor ISO na více zařízení USB najednou
Comment[da]=Skriv en ISO-fil til flere USB-enheder på samme tid
Comment[de]=Eine ISO-Datei gleichzeitig auf mehrere USB-Geräte schreiben
Comment[el]=Γράψτε ένα αρχείο ISO σε πολλαπλές συσκευές USB ταυτόχρονα
Comment[en_GB]=Write an ISO file to multiple USB devices at once
Comment[es]=Escribir un archivo ISO en varios dispositivos USB de una vez
Comment[fa]=یک فایل ISO را روی چندین دستگاه USB به طور همزمان حک (رایت) کنید
Comment[fi]=Kirjoita ISO-tiedosto useille USB-laitteille samanaikaisesti
Comment[fr]=Écrire un fichier ISO sur plusieurs périphériques USB à la fois
Comment[fur]=Scrîf un file ISO su multiplis dispositîfs USB intune volte
Comment[gl]=Escribe un ficheiro ISO en varios dispositivos USB á vez
Comment[he]=כתיבת כובץ ISO להתקני USV רבים בו זמנית
Comment[hr]=Zapišite ISO datoteku na više USB uređaja odjednom
Comment[hu]=Egy ISO fájl kiírása egyszerre több USB eszközre
Comment[id]=Menulis sebuah berkas ISO ke beberapa perangkat USB sekaligus
Comment[it]=Scrivi file ISO su più dispositivi USB contemporaneamente
Comment[ja]=ISO ファイルを同時に複数の USB デバイスへ書き込みます
Comment[nb]=Skriv en ISO-fil til flere USB-enheter samtidig
Comment[nl]=Een ISO-bestand naar meerdere USB-apparaten tegelijk schrijven
Comment[oc]=Escriure un fichièr ISO sus mantun periferic USB a l'encòp
Comment[pl]=Zapisywanie pliku ISO na wielu urządzeniach USB jednocześnie
Comment[pt_BR]=Gravar um arquivo ISO em múltiplos dispositivos USB simultaneamente
Comment[pt]=Escrever um ficheiro ISO em múltiplos dispositivos USB em simultâneo
Comment[ru]=Записать файл ISO на несколько USB-устройств одновременно
Comment[sk]=Zapíšte súbor ISO naraz na viaceré USB zariadenia
Comment[sr@latin]=Zapišite ISO datoteku na nekoliko USB uređaja odjednom
Comment[sr]=Запишите ИСО датотеку на неколико УСБ уређаја одједном
Comment[sv]=Skriv en ISO-fil till flera USB-enheter samtidigt
Comment[tr]=Bir ISO dosyasını birden çok USB aygıtına tek seferde yazın
Comment[uk]=Записує файл ISO на декілька пристроїв USB одночасно
Comment[zh_CN]=将 ISO 文件一次写入多个 USB 设备中
Comment[zh_TW]=將 ISO 檔一次寫入多項 USB 裝置中
Comment=Write an ISO file to multiple USB devices at once
# TRANSLATORS: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.MultiWriter
Exec=gnome-multi-writer
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
# TRANSLATORS: these are desktop keywords - remember the trailing ';' :)
Keywords[bs]=slika;pisač;ISO;USB;
Keywords[ca]=Imatge;Writer;ISO;USB;
Keywords[cs]=obraz;zápis;zapisování;ISO;USB;
Keywords[da]=Aftryk;Skriver;ISO;USB;
Keywords[de]=Abbild;Schreiben;ISO;USB;
Keywords[el]=Image;Writer;ISO;USB;Εικόνα;Εγγραφή;
Keywords[en_GB]=Image;Writer;ISO;USB;
Keywords[es]=Imagen;Writer;ISO;USB;
Keywords[fa]=Image;Writer;ISO;USB;
Keywords[fi]=Image;Writer;ISO;USB;levykuva;kirjoitin;
Keywords[fr]=Image;Écriture;ISO;USB;
Keywords[fur]=Imagjin;Scritôr;ISO;USB;
Keywords[gl]=Imaxe;Escribir;ISO;USB;
Keywords[he]=תמונה;כותב;ISO;USB;
Keywords[hr]=Slika;Zapisivač;ISO;USB;
Keywords[hu]=Lemezkép;Író;ISO;USB;
Keywords[id]=Citra;Penulis;ISO;USB;
Keywords[it]=Immagine;Scrittura;ISO;USB;
Keywords[ja]=Image;Writer;ISO;USB;イメージ;ライター;
Keywords[nb]=Bilde;Skriving;ISO;USB;
Keywords[nl]=Image;Writer;ISO;USB;Bestand;Schrijver;
Keywords[oc]=Imatge;Escritura;ISO;USB;
Keywords[pl]=Obraz;Zapisywanie;ISO;USB;
Keywords[pt_BR]=Imagem;Gravador;ISO;USB;
Keywords[pt]=Imagem;Escritor;ISO;USB;
Keywords[ru]=Образ;Writer;ISO;USB;
Keywords[sk]=Obraz;Writer;Zápis;Zapísať;ISO;USB;
Keywords[sr@latin]=slika;pisač;ISO;USB;
Keywords[sr]=слика;писач;ИСО;УСБ;
Keywords[sv]=Avbildning;Skrivning;ISO;USB;
Keywords[tr]=Görüntü;Kalıp;Yazdırma Programı;ISO;USB;
Keywords[uk]=Image;Writer;ISO;USB;образ;запис;ісо;юсбі;
Keywords[zh_CN]=Image;Writer;ISO;USB;镜像;映像;写入器;
Keywords[zh_TW]=Image;Writer;ISO;USB;寫入器;映像檔;隨身碟;
Keywords=Image;Writer;ISO;USB;
StartupNotify=true
NoDisplay=false
