*.swp
doc
.yardoc
mkmf.log
aur/*/src/
aur/*/pkg/
aur/*/*.xz
aur/*/*.gz
aur/*/*.deb
aur/*/*.zip
aur/awf/awf
aur/delve/delve
aur/kubernetes/cni
aur/iksemel/iksemel
aur/freeswitch/freeswitch
aur/kubernetes/kubernetes
aur/kubernetes/release
temp
vagrant
