*.swp
mkmf.log
aur/*/src/
aur/*/pkg/
aur/*/*.xz
aur/*/*.gz
aur/*/*.deb
aur/*/*.zip
aur/awf/awf
aur/delve/delve
aur/kubernetes/cni
aur/kubernetes/kubernetes
aur/kubernetes/release
aur/qopenvpn-pia/qopenvpn
temp
vagrant
