*.swp
doc
.yardoc
mkmf.log
aur/*/src/
aur/*/pkg/
aur/*/*.xz
aur/*/*.gz
aur/*/*.deb
aur/*/*.zip
aur/awf/awf
aur/delve/delve
aur/kubernetes/cni
aur/iksemel/iksemel
aur/freeswitch/freeswitch
aur/kubernetes/kubernetes
aur/kubernetes/release
aur/openvpn-pia/openvpn-pia
aur/ruby-amatch/*.gem
aur/ruby-cmds/cmds
aur/ruby-filesize/*.gem
aur/ruby-pry-nav/*.gem
aur/ruby-net-scp/*.gem
aur/ruby-net-sftp/*.gem
aur/ruby-net-ssh/*.gem
aur/ruby-rest-client/*.gem
aur/ruby-tins/*.gem
temp
vagrant
