[Desktop Entry]
Name=Teamviewer
Comment=Remote control and meeting solution
Exec=teamviewer
Icon=teamviewer
Terminal=false
StartupNotify=true
Type=Application
Categories=Network;
