# GRUB2 Multiboot configuration
#-------------------------------------------------------------------------------
insmod font
insmod datehook
insmod part_msdos
insmod part_gpt
insmod regexp

# Define variables used throughout
export loaded
export gfxmode
export gfxpayload
export grub_theme=<%=grub_theme%>

# Reload the menu
function menu_reload
{
    configfile /boot/grub/grub.cfg
}

function menu_return
{
    echo "Press Escape to return to the main menu"
    sleep --interruptible 9999
    menu_reload
}

# Populate the boot menu
function boot_menu
{
    # Live deployment option
    menuentry --class=arch "Start cyberlinux" {
        echo "Executing some junk..."
        menu_return
    }

    # Add deployments submenu
    submenu --class=arch "Deploy cyberlinux" {
        menuentry --class=cancel "Cancel deployment" {menu_reload}
        for x in Desktop Theater Chromebook Lite Heavy Shell Base; do
            menuentry --class=arch "$x" {
                echo "Executing some junk..."
                menu_return
            }
        done
        default=0
    }

    # Add extra options 
    menuentry " " {true}
    menuentry --class=reboot "Reboot" {reboot}
    menuentry --class=shutdown "Shutdown" {reboot}

    # Set the default selected menu entry
    default=0
}

# Main Entry Point
#-------------------------------------------------------------------------------
if [ -z "${loaded}" ]; then
    loaded=true
    if [ loadfont /boot/grub/unicode.pf2 ]; then
        if [ -z "$gfxmode" ] ; then
            gfxmode=1280x1024,1024x768,800x600
            gfxpayload=keep
        fi
        insmod all_video
        insmod gfxterm
        if terminal_output --append gfxterm; then
            terminal_output --remove console
        fi
    fi

    # Load GRUB theme
    insmod gfxmenu
    themedir=""
    regexp -s themedir '^(.*)/.*$' "${grub_theme}"
    for font in $themedir/fonts/*.pf2; do loadfont "${themefont}" done
    for imagetype in jpg jpeg png tga; do
        for themeimage in ${themedir}/*.${imagetype}; do
            if [ -f "${themeimage}" ]; then
                if [ "${imagetype}" = "jpg" ]; then
                    insmod jpeg
                else
                    insmod $imagetype
                fi
            fi
        done
    done
    theme=${grub_theme}
    export theme
fi
boot_menu

# vim: ft=sh:ts=4:sw=4:sts=4
