[Desktop Entry]
Version=1.1
Type=Application
Name=Avahi SSH Server Browser
NoDisplay=true
Comment=Browse for Zeroconf-enabled SSH Servers
Icon=network-wired
Exec=/usr/bin/bssh
Actions=
Categories=GNOME;Network;
