[Desktop Entry]
Version=1.1
Type=Application
Name=Run...
Icon=applications-other
Exec=dmenu_run -fn -misc-fixed-*-*-*-*-20-200-*-*-*-*-*-*  -i -nb '#000000' -nf '#efefef' -sf '#000000' -sb '#3cb0fd'
Actions=
Categories=X-XFCE;X-Xfce-Toplevel;
