[Desktop Entry]
Version=1.1
Type=Application
Name=Log Out
Comment=Log out of the Xfce Desktop
Icon=xfsm-logout
OnlyShowIn=XFCE;
Exec=xfce4-session-logout
Actions=
Categories=System;X-XFCE;X-Xfce-Toplevel;
