[Desktop Entry]
Version=1.1
Type=Application
Name=Screenshot
Comment=Take screenshots of the entire screen, of the active window or of a region
Icon=org.xfce.screenshooter
Exec=xfce4-screenshooter
Actions=
Categories=GTK;System;
StartupNotify=true
