[Unit]
Description=Barrier Server Daemon
After=network.target

[Service]
ExecStart=/usr/bin/barriers --no-daemon --disable-crypto
Restart=on-failure

[Install]
WantedBy=default.target
