[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Tiny Media Manager
Comment=A multi-OS media managment tool
Exec=tiny-media-manager
Icon=tiny-media-manager
Categories=AudioVideo;Video;Database;Java;
Version=2.9.7
