[Desktop Entry]
Version=1.1
Type=Application
Name=PDF Mod
GenericName=PDF Modifier
Comment=Remove, extract, and rotate pages in PDF documents
Icon=pdfmod
TryExec=pdfmod
Exec=pdfmod %U
Actions=
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;
Categories=GNOME;GTK;X-XFCE;X-Xfce-Toplevel;
StartupNotify=true
