[Desktop Entry]
Type=Application
Encoding=UTF-8

Name=Tint2
GenericName=Panel
Comment=Lightweight panel

Exec=tint2
Icon=tint2
Terminal=false
Categories=System;
