[Desktop Entry]
Name=Conky
Comment=Desktop widgets
Exec=conky
Icon=conky
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility
