[Desktop Entry]
Name=OpenVPN PIA
Comment=Private Internet Access OpenVPN automation and UI
Exec=openvpn-pia
Icon=openvpn-pia
Terminal=false
StartupNotify=true
Type=Application
Categories=Network;
