<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">

  <!-- Root -->
  <menu id="root-menu" label="Applications">
    <separator label="--= CYBERLINUX =--"/>
      <item label="Thunar" icon="/usr/share/icons/Paper/32x32/apps/Thunar.png"><action name="Execute"><execute>thunar</execute></action></item>
      <item label="LXTerminal" icon="/usr/share/icons/Paper/32x32/apps/lxterminal.png"><action name="Execute"><execute>lxterminal</execute></action></item>
      <item label="Nitrogen" icon="/usr/share/icons/hicolor/32x32/apps/nitrogen.png"><action name="Execute"><execute>nitrogen</execute></action></item>
    <separator/>

    <!-- Accessories -->
    <menu id="Accessories" icon="/usr/share/icons/Paper/32x32/categories/applications-utilities.png" label="Accessories">
      <item label="Bulk Rename" icon="/usr/share/icons/Paper/32x32/apps/Thunar.png"><action name="Execute"><execute>/usr/lib/Thunar/ThunarBulkRename</execute></action></item>
    </menu>

    <!-- Development -->
    <menu id="Development" icon="/usr/share/icons/Paper/32x32/categories/applications-development.png" label="Development">
      <item label="GVim" icon="/usr/share/icons/Paper/32x32/apps/gvim.png"><action name="Execute"><execute>gvim -f</execute></action></item>
    </menu>

    <!-- Graphics -->
    <menu id="Graphics" icon="/usr/share/icons/Paper/32x32/categories/applications-graphics.png" label="Graphics">
      <item label="Image Viewer" icon="/usr/share/icons/Paper/32x32/apps/gpicview.png"><action name="Execute"><execute>gpicview </execute></action></item>
      <item label="Nitrogen" icon="/usr/share/icons/hicolor/32x32/apps/nitrogen.png"><action name="Execute"><execute>nitrogen</execute></action></item>
    </menu>

    <!-- Multimedia -->
    <menu id="Multimedia" icon="/usr/share/icons/Paper/32x32/categories/applications-multimedia.png" label="Multimedia">
      <item label="Audacious" icon="/usr/share/icons/hicolor/32x32/apps/audacious.png"><action name="Execute"><execute>audacious</execute></action></item>
      <item label="GNOME ALSA Mixer" icon="/usr/share/pixmaps/gnome-alsamixer/gnome-alsamixer-icon.png"><action name="Execute"><execute>gnome-alsamixer</execute></action></item>
      <item label="HandBrake" icon="/usr/share/icons/hicolor/scalable/apps/hb-icon.svg"><action name="Execute"><execute>ghb</execute></action></item>
      <item label="SMPlayer" icon="/usr/share/icons/hicolor/32x32/apps/smplayer.png"><action name="Execute"><execute>smplayer</execute></action></item>
      <item label="VLC" icon="/usr/share/icons/hicolor/32x32/apps/vlc.png"><action name="Execute"><execute>vlc</execute></action></item>
    </menu>

    <!-- Network -->
    <menu id="Network" icon="/usr/share/icons/Paper/32x32/categories/applications-internet.png" label="Network">
      <item label="FileZilla" icon="/usr/share/icons/Paper/32x32/apps/filezilla.png"><action name="Execute"><execute>filezilla</execute></action></item>
      <item label="Chromium" icon="/usr/share/icons/Paper/32x32/apps/chromium-browser.png"><action name="Execute"><execute>chromium</execute></action></item>
      <item label="qBittorrent" icon="/usr/share/icons/hicolor/32x32/apps/qbittorrent.png"><action name="Execute"><execute>qbittorrent </execute></action></item>
      <item label="Zenmap" icon="/usr/share/zenmap/pixmaps/zenmap.png"><action name="Execute"><execute>sudo zenmap</execute></action></item>
    </menu>

    <!-- Settings -->
    <menu id="Settings" icon="/usr/share/icons/Paper/32x32/categories/applications-accessories.png" label="Settings">

      <!-- Desktop/Login -->
      <menu id="Desktop/Login" icon="/usr/share/icons/Paper/32x32/apps/preferences-system-login.png" label="Desktop/Login">
        <item label="Reconfigure Openbox" icon="/usr/share/icons/Paper/32x32/apps/update-manager.png"><action name="Execute"><execute>openbox --reconfigure</execute></action></item>
        <item label="LXDM Config" icon="/usr/share/icons/Paper/32x32/apps/gvim.png"><action name="Execute"><execute>sudo gvim /etc/lxdm/lxdm.conf</execute></action></item>
        <item label="LXDM Prelogin" icon="/usr/share/icons/Paper/32x32/apps/gvim.png"><action name="Execute"><execute>sudo gvim /etc/lxdm/PreLogin</execute></action></item>
        <item label="Openbox Autostart" icon="/usr/share/icons/Paper/32x32/apps/gvim.png"><action name="Execute"><execute>gvim ~/.config/openbox/autostart</execute></action></item>
        <item label="Openbox RC" icon="/usr/share/icons/Paper/32x32/apps/gvim.png"><action name="Execute"><execute>gvim ~/.config/openbox/rc.xml</execute></action></item>
        <item label="Openbox Menu" icon="/usr/share/icons/Paper/32x32/apps/gvim.png"><action name="Execute"><execute>gvim ~/.config/openbox/menu.xml</execute></action></item>
        <item label="Oblogout" icon="/usr/share/icons/Paper/32x32/apps/gvim.png"><action name="Execute"><execute>sudo gvim /etc/oblogout.conf</execute></action></item>
        <item label="Tint2 Panel" icon="/usr/share/icons/Paper/32x32/apps/gvim.png"><action name="Execute"><execute>gvim ~/.config/tint2/tint2rc</execute></action></item>
      </menu>

      <!-- Pacman/Servers -->
      <menu id="Pacman/Servers" icon="/usr/share/icons/Paper/32x32/apps/software-center.png" label="Pacman/Servers">
        <item label="Pacman Config" icon="/usr/share/icons/Paper/32x32/apps/gvim.png"><action name="Execute"><execute>sudo gvim /etc/pacman.conf</execute></action></item>
        <item label="Pacman Mirrorlist" icon="/usr/share/icons/Paper/32x32/apps/gvim.png"><action name="Execute"><execute>sudo gvim /etc/pacman.d/mirrorlist</execute></action></item>
      </menu>

      <item label="LXAppearance" icon="/usr/share/icons/Paper/32x32/apps/preferences-desktop-theme.png"><action name="Execute"><execute>lxappearance</execute></action></item>
      <item label="LXInput" icon="/usr/share/icons/Paper/32x32/apps/preferences-desktop-keyboard.png"><action name="Execute"><execute>lxinput</execute></action></item>
      <item label="LXRandr" icon="/usr/share/icons/Paper/32x32/apps/preferences-desktop-display.png"><action name="Execute"><execute>lxrandr</execute></action></item>
      <item label="Thunar Settings" icon="/usr/share/icons/Paper/32x32/apps/system-file-manager.png"><action name="Execute"><execute>thunar-settings</execute></action></item>
      <item label="Tint2 Themes" icon="/usr/share/icons/Paper/32x32/apps/tint2conf.png"><action name="Execute"><execute>tint2conf</execute></action></item>
    </menu>

    <!-- Pacman/Servers -->
    <menu id="System" icon="/usr/share/icons/Paper/32x32/categories/applications-system.png" label="System">
      <item label="HardInfo" icon="/usr/share/hardinfo/pixmaps/logo.png"><action name="Execute"><execute>hardinfo</execute></action></item>
      <item label="Htop" icon="/usr/share/icons/Paper/32x32/apps/htop.png"><action name="Execute"><execute>lxterminal -e 'htop'</execute></action></item>
    </menu>
    <separator/>
    <item label="Run..." icon="/usr/share/icons/Paper/32x32/mimetypes/application-x-executable.png"><action name="Execute"><execute>dmenu_run -fn -misc-fixed-*-*-*-*-20-200-*-*-*-*-*-*  -i -nb '#000000' -nf '#efefef' -sf '#000000' -sb '#3cb0fd'</execute></action></item>
    <item label="Reboot" icon="/usr/share/icons/hicolor/32x32/actions/system-reboot.png"><action name="Execute"><execute>sudo reboot</execute></action></item>
    <item label="Shutdown" icon="/usr/share/icons/hicolor/32x32/actions/system-shutdown.png"><action name="Execute"><execute>sudo poweroff</execute></action></item>
  </menu>
</openbox_menu>
